.App {
  text-align: center;
}

.contains{
  color:grey;
}
.contains-lowercase{
    color:green;
}
.contains-uppercase{
  color:green
}
.contains-number{
  color:green
}
.contains-symbols{
  color:green
}
